{% extends "master.html.twig" %}

{% block title %}Reservation2 Page{% endblock %}

{% block content %}
    
    {% if sessionUser %}
    <p id="para">Hello {{sessionUser.name}},
    {% endif %}  

{% for product in productList %}
        <hr>
        <div>
            <h3>{{product.makeModel}}</h3>
            <img height=300 src="/pics/{{ product.imagePath }}">
            <div id="displayList">
            <p>{{product.description}}</p>
            <p>Price per day: {{product.rate}}</p>
            <form method="POST" action="/cart">
                Add to cart
                <input type="hidden" name="carID" value="{{product.ID}}">
                <input type="number" name="quantity" value="1" style="width:30px;">
                <input type="submit" value="Add to cart">
            </form>
            </div>
        </div>
               
    {% endfor %}
    
    
{% endblock %}