{% extends "master.html.twig" %}

{% block title %}Reservation Page{% endblock %}

{% block head %}
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $( function() {
    $( ".datepicker" ).datepicker();
    } );
    </script>
    {% endblock %}
    
{% block content %}
    
    {% if user %}
    <p id="para">Hello {{user.name}},
    {% endif %}  
    <br><br>
    <h1>Select your dates, location and choose a car from our inventory</h1><br><br>
    
    <div id="toppanelReservation">
    <h4 class=datepicker>PICKUP DATE:</h4><input id="dp" class="datepicker" type="text" name="pickupDate" value="{{v.pickupDate}}">
    <span id="result"></span>
    <h4 class=datepicker>RETURN DATE:</h4><input id="dp2" class="datepicker" type="text" name="returnDate" value="{{v.returnDate}}">
    <h4 class=datepicker>LOCATION:</h4> 
    <select id="selectlocation">
        <option value="dorval">Dorval</option>
        <option value="ndg">NDG</option>
        <option value="laval">Laval</option>
        <option value="westmount">Westmount</option>
    </select><br><br>    
</div>

    <table id="table" width="100%">
        {% for product in productList %}
            <tr>            
                <td class="row1A"><img height=300 src="/pics/{{ product.imagePath }}">
                </td>
                <td class="row1B">               
                    <h3 id="prodHeader">{{product.makeModel}}</h3><br><br>
            <p>{{product.description}}</p>
            <p>Price per day: {{product.rate}}</p>
            <form method="POST" action="/cart">
                Add to cart
                <input type="hidden" name="carID" value="{{product.ID}}">
                <input type="number" name="quantity" value="1" style="width:30px;">
                <input type="submit" value="Add to cart">
            </form>           
            </td>            
            </tr>
            
        {% endfor %}
        
        </table>
    
    
{% endblock %}